<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="Arvan Login, Fastest CDN services in Asia" />
    <title>Sign in | Arvan</title>
    <link rel="canonical" href="https://mobinjafari.com/">
    <meta name="theme-color" content="#ffffff">

    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
{#    <link rel="preconnect" href="https://fonts.googleapis.com">#}
{#    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>#}
{#    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">#}

<!--    <script type="module" src="{{ url_for('static', filename='login.js') }}"></script>-->
<body>
<main>
Index
</main>
</body>
</html>
