<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="Arvan Login, Fastest CDN services in Asia" />
    <title>Sign up | Arvan</title>
    <meta name="theme-color" content="#009595">
    <link rel="favicon" href="{{ url_for('static', filename='favicon.ico') }}">

    <link rel="preload" type="text/css" as="style" href="{{ url_for('static', filename='skeleton.css') }}">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='skeleton.css') }}">
<!--    <meta http-equiv="Content-Security-Policy"-->
<!--          content="-->
<!--            default-src 'self';-->
<!--            script-src 'self';-->
<!--            style-src 'self' https://fonts.googleapis.com;-->
<!--            font-src 'self' https://fonts.gstatic.com;-->
<!--            connect-src https://api-3281216083-arvancloud-challenge.apps.ir-central1.arvancaas.ir;-->
<!--            img-src 'self' data:;-->
<!--            object-src 'none';-->
<!--    ">-->

    <script src="{{ url_for('static', filename='globalStyles.js') }}"></script>

    <link rel="preload" as="style" href="{{ url_for('static', filename='style.css') }}">
    <link rel="preload" as="style" href="{{ url_for('static', filename='register.css') }}">
{#    <link rel="preconnect" href="https://fonts.googleapis.com">#}
{#    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>#}
{#    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">#}

    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='register.css') }}">

    <script type="module" src="{{ url_for('static', filename='register.js') }}"></script>
</head>
<body>
<main class="container-centered">
    <section class="centered-vertical">
        <div class="header">
            <h3>Sign up</h3>
            <span class="caption"></span>
        </div>
        <form id="formSignup" class="body gap-06">
            <div class="col gap-03">
                <component-input name="username" label="Username" type="text" placeholder="sample text" required></component-input>
                <component-input name="email" label="Email" type="email" placeholder="sample text" required></component-input>
                <component-input name="password" label="Password" type="password" placeholder="sample text" required></component-input>
            </div>
            <div class="col gap-03">
                <component-button class="txt-body2 strong width-100" type="submit" value="register">Sign up</component-button>
                <span class="txt-align-center txt-body2">Have an account? <a href="/login" class="txt-body2 strong">Sign in</a></span>
            </div>
        </form>
    </section>
</main>
</body>
</html>
